{% extends "base.html" %}

{% block page_title %}IMPRESSUM{% endblock %}

{% block content %}
<h1>Impressum</h1>

<p>Keine Hausbesuche.</p>

<h2>Angaben gemäß § 5 DDG</h2>
<p>Funkfabrik*B ist ein Service der<br>
Goerli Dezentral gGmbH<br>
Mariannenstr. 9-10<br>
10999 Berlin</p>

<h2>Verantwortlich</h2>
<p>V.i.S.d.P.<br>
Afri Schoedon<br>
<a href="mailto:afri@funkfabrik-b.de" class="color-cyan">afri@funkfabrik-b.de</a><br>
+49 (0)30 20607944</p>

<hr>
<p class="color-yellow">FUNKFABRIK*B — Radio für Punks, Hörer, und Menschen</p>
<p class="color-white">Technik: Rust / Axum / Tera</p>
{% endblock %}
